
/* ------------------------------------------------------------
  Pro: xinandai样式
  Create: 2014-11-13
  Update: 2014-11-14
------------------------------------------------------------ */

/*modules*/
.btn{display: inline-block; text-decoration: none;}
a.btn:hover{text-decoration: none;}
.btn-info{padding:7px 20px;background: #00b050; color: #fff; font-size: 14px;}
.btn-info:hover{color: #fff;}
ul.inline,dl.inline{display: block;}
ul.inline li{display: inline-block;*display: inline;*zoom:1; float: left;}
ul.inline li a {display: block;}
.dl-hor{overflow: hidden;}
.dl-hor dt{float:left;display: inline;}
.dl-hor dd{overflow: hidden;}
.ul-hor:after,
.ul-ver:after,
.dl-hor:after,
.dl-ver:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
.ul-hor,.ul-ver,.dl-hor,.dl-ver{zoom:1}
dl.dl-ver dt,
dl.dl-ver dd{display:block;font-weight:normal;}
dl.dl-hor dt{float:left;display:inline;margin-right:10px;}
dl.dl-hor dd{overflow:hidden;}
a:active{outline:none;}
.num,.price,dfn{font-style:normal;font-family:Arial,sans-serif}
dfn{color:#f60;}

i.req{font-style:normal;font-weight:normal;color:#f00;}
.input-text{border:1px solid #ccc;height:20px;line-height:20px;padding:3px 5px;background-color:#fff;}
.yahei{font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1;font-weight:normal;}
img{vertical-align: middle;}


/* public */
html{height:100%;}
body{min-height: 100%;_height:100%;position:relative;}
body{font:12px/22px \5b8b\4f53,Tahoma,Arial,sans-serif; color: #000;min-height:100%;}
.wrap{width:1000px;}
a[href='###'],a[href='###']:hover{color:#333;}
a{color:#0711df;}
a:hover{text-decoration: none;color: red;}
.red{color:red;}
.icon{background:url(../img/tipicon.png) -9999px -9999px no-repeat;}

table td{ text-align: left;}
.table-full{width: 100%;}
.table-info{  border-collapse: collapse; line-height: 22px;}
th{ text-align: center;}
.table-info th{background: #f2f2f2;}
.table-center td{ text-align: center; }
.table-info th,.table-info td{border: 1px solid #d9d9d9;padding:6px 10px;}
.table-info .col-t{width:15%; text-align: center;}
.table-info .col-c{width:40%;}
.table-info .col-info{min-height: 100px;_height:100px;}
.table-info .oper{text-align: center;}

table.nobd th,
table.nobd td{border:none;}
.line-a{margin:10px 0;border-bottom: 3px solid #0070c0; height: 0; line-height: 0;overflow: hidden;clear: both;}

/* header */
.tapbar{background: #f2f2f2;height: 24px;line-height: 24px;}
.login-info{text-align: right;}
.login-info a{color: #333;}
.login-info a:hover{color: red;}

.header{height:92px;}
.header .wrap{position:relative;}
.logo{position:absolute;top:15px;display:block;width: 150px;height:60px; background: url(../img/logo.png) no-repeat; text-indent:-9999px;}
.header .quick-box{position: absolute;right:0;top:25px;}
.quick-box .btn{margin-left:20px;}
.crumb{font-family:\5b8b\4f53;position: absolute;top:45px;left: 180px;}

/*footer*/
.footer-wrap{height:190px;margin:10px auto 0;}
.footer-in{height:10px;padding:10px;visibility: hidden;}
.footer{min-height: 100%; }
.footer-info{position:absolute;width:100%;bottom:0;background: #c5d9f1;border-top:3px solid #0070c0;height: 160px;padding-top: 10px;}
.footer p{margin: 10px;}
.footer-link a{color:#333;padding:5px 20px 5px 0;}
.footer-link a:hover{color:red;}

/* .friend-links */
.friend-links{border:1px solid #d9d9d9;margin:20px 0;}
.f-head{height:36px;line-height:36px;border-bottom: 1px solid #d9d9d9; background: #f2f2f2;}
.f-head a.link{float:right;padding:0 10px;}
.f-head a.link,.f-head a.link:hover{color:#0070c0;}
.f-head h4{font-size: 14px;font-weight: bold; display: inline-block;background: #fff;border-top:3px solid #538dd5;margin-top: -3px;border-bottom:1px solid #fff;}
.f-head h4 b{display:inline-block;padding:0 20px;border-right:1px solid #d9d9d9;}
.f-body{padding:20px 20px 15px; min-height: 50px; font-size: 14px;}
.f-body a{display: inline-block;padding-right:3px 10px;min-width: 70px; margin: 0 25px 5px 0;}

/* nav */
.nav{border-bottom:3px solid #00b050;border-top:1px solid #d9d9d9;height: 36px;line-height: 36px;font-size: 14px;}
.nav a{color:#000;}
.nav a:hover{ text-decoration: none; color: #000;}
.nav .current{margin-top:-1px;border-top:1px solid #00b050;background:#00b050;}
.nav .item a{padding:0 30px;}
.nav .current a,.nav .current a:hover{ color: #fff;}
.nav .current a:hover{color:#fdfdfd; }
.nav-main{float:left;}
.nav-sub{float:right;}

/* adlist */
.topimg{margin-top:10px;margin-bottom: 10px; overflow: hidden;}
.toplist{margin-right: -20px;}
.toplist li{border: 1px solid #d9d9d9; margin-right: 10px;width: 190px;height: 90px;overflow: hidden;}
.toplist li img{width: 190px;height: 90px;}

/* cate */
.cate{border:1px solid #d9d9d9;border-top:none;padding:10px 10px 8px;margin-bottom: 10px;}
.cate .cate-item{margin-bottom: 5px;}
.cate dt,.cate dd{line-height: 28px;}
.cate dt{width: 50px; text-align: right;margin-right: 20px;}
.cate a{color:#0711df;display:inline-block;height:28px;line-height: 28px;margin-right: 6px;}
.cate a:hover{color:red;}

/* navbar */
.nav-tabs{ overflow: hidden; border-bottom:3px solid #0070c0; background: #ecf2fa; height: 36px;line-height: 36px;font-size: 14px;}
.nav-tabs ul{border:1px solid #d9d9d9; border-bottom: none;}
.nav-tabs .current{margin-top:-1px;margin-left:-1px;border-top:1px solid #0070c0;background:#0070c0;}
.nav-tabs a:hover{color:#000;}
.nav-tabs .current a,.nav-tabs .current a:hover{ color: #fff;}
.nav-tabs a{padding:0 15px;}

/* list */
.list_a{}
.list_a .list-item{overflow: hidden;padding:20px 0 10px;border-bottom:1px solid #d9d9d9;}
.list_a .list-item:hover{ background: #f9f9f9;}
.list-item dt{float: left;display: inline;margin-right: 20px;}
.list-item dt img{ background: #ccc;}
.list-item h4{max-height: 42px;overflow: hidden;line-height:20px;}
.list-item .tit{font-size: 16px;color: #0711df;font-weight: normal;}
.list-item .tit:hover{color: red;}
.list-item dd{overflow: hidden;}
.list-item dd.fr{width:100px;text-align: center; height: 100%;}
.list-item dd.set{width:80px;float: right;display: inline;text-align: center;}
.list-item .info .it{display:inline-block;color: #01af01;width: 150px;}
.list-item .sort,.list-item .date{display:block; text-align:center;}
.list-item .sort{min-height:40px;_height:40px;color: #01af01; font-size: 14px;}
.list-item .date{margin-top: 20px; }
.list-item p{line-height: 20px;overflow: hidden;margin-top: 3px;}

/* wrapbox_1 */
.wrapbox_1{/*margin-top:20px;*/margin-bottom: 20px;}
.wrapbox_1 .side{float:right; display: inline;margin-left:20px;width: 232px;padding-top: 20px;}
.side .side-img{border:1px solid #d9d9d9;height: 200px;margin-bottom: 20px; overflow: hidden;}
.side-img img{ width:230px;height: 200px;}
.side .side-info{ background: #ecf2fa; min-height: 160px;_height:160px; padding:10px; font-size: 14px;}
.main{overflow: hidden;}
.article{margin-top: 20px;}
.page-head{border-bottom:3px solid #00b050;height:40px;line-height: 36px;}
.page-head h2{font-size: 22px;max-width: 80%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.page-head .info{float: right; position: relative;top: 4px;}
.side-oper{margin-bottom: 20px; border-top:3px solid #0070c0;}
.side-oper .inner{ border: 1px solid #d9d9d9; border-top: none;}
.side-oper .tit{ height: 36px; line-height: 36px; background: #f2f2f2;}
.side-oper .tit h4{ background: #fff; display: inline-block; padding:0 20px; font-weight: normal; font-size: 14px;}
.side-oper .content{padding:10px 20px; min-height: 180px; _height:180px;}


/* costom page */
.page .nav{display: none}
.register .nav,
.register .quick-box,
.register .crumb{display: none;}

/* page */
.detail{margin:20px 0;}
.d-head{border-bottom: 3px solid #0070c0; height:36px;line-height: 36px;}
.d-head h3{ background: #0070c0; display: inline-block; padding:0 20px; font-size: 14px; color: #fff;}
.detail .content{border: 1px solid #0070c0; padding:20px;}
.detail .tit{border-bottom: 2px solid #bfbfbf; height: 30px; line-height: 30px; margin-bottom: 20px;}
.detail .tit h4{padding-left: 10px;}
.detail .tit i{color: #0070c0;font-weight: bold;display: inline-block;margin-right: 5px;}
.detail .con{margin-bottom: 20px;padding:0 10px 10px;}

.loan-info{border:1px solid #d9d9d9; padding:10px 20px; margin-bottom: 20px;}
.loan-info dt{margin-right: 20px;}
.loan-info dd h3{font-size: 20px; line-height: 30px;}
.loan-info p{margin: 10px 0; font-size: 14px;}
.loan-info dd td{padding:4px 10px 0 0;}
.loan-info dd .col-t{width:70px; text-align: left;}
.loan-info .line-a{margin:20px 0;}


/* user */
.user-info{margin-top:20px;font-size: 14px;}
.aside{float: left;width:170px;display:inline;margin-right: 20px;border-top: 3px solid #0070c0;}
.nav-user{border: 1px solid #d9d9d9; padding:2px 0 3px;}
.nav-user h3,.nav-user a{text-align: center;font-size:14px;height:36px;line-height: 36px;padding:0 20px;}
.nav-user h3{color: #0070c0;font-weight: bold; background: #f9f9f9;}
.nav-user .content{overflow: hidden;}
.nav-user a{color:#000;display: block;padding: 0 20px;}
.nav-user a:hover{color:red}
.nav-user a span{display: block;border-top:1px solid #d9d9d9; margin-top: -1px;}

.cbox{border:1px solid #d9d9d9; padding:10px 20px 60px;}
.c-head{border-bottom: 3px solid #0070c0;height: 40px;line-height: 36px;margin-bottom: 20px;}
.c-head h2{font-size: 14px;}
.cbox .textarea{width: 95%;min-height: 60px;padding:5px 10px;}
.upload-logo{min-height: 60px; _height:60px; }







/* register */
.regtabs {border-bottom:3px solid #00b050;height: 36px;line-height: 36px;font-size: 14px;}
.regtabs a{color:#000;}
.regtabs a:hover{ text-decoration: none; color: #000;}
.regtabs li{ background: #ebf1de;margin-right: 20px;}
.regtabs .current{margin-top:-1px;border-top:1px solid #00b050;background:#00b050;}
.regtabs li a{padding:0 35px;}
.regtabs .current a,.regtabs .current a:hover{ color: #fff;}
.regtabs .current a:hover{color:#fdfdfd; }
.regbox{border:1px solid #d9d9d9; border-top:none; padding:50px 20px;}

.regbox{}
.xstep{text-align:center;margin:15px 0 10px;}
.xbox li{margin:10px 0;overflow:hidden;padding-left:150px;line-height: 28px;}
.regbox1 li{margin:15px 0;}
.xbox li .xlabel{float:left;display:inline;margin-left:-150px;width:145px;padding-right:5px;text-align:right;height:28px;line-height:26px;}
.xbox .xlabel .req{display:inline-block;width:16px;text-align:right;font-size:14px;position:relative;top:1px;}
.xbox .input-text{width:168px;vertical-align:middle; height: 28px; line-height: 28px;}
.xbox .input-big{width: 330px;}
p.xinfo{display:inline-block;*display:inline;*zoom:1;padding-left:10px;line-height:28px;vertical-align:top;vertical-align:middle;}
.regbtn{width:190px; height:36px; line-height: 36px; text-align: center; background: #00b050; color: #fff; font-size: 14px;}
.regbtn:hover{color: #fff;}
.regbtn span{width:160px;}
.regbox .pact{margin: 40px 0 20px;}
.regbox .btnbox{margin:20px 0;}
.xbox .warning,
.xbox .success,
.xbox .error{display:none;}

.regbox .xtextarea{width:492px;height:86px;border:1px solid #d0d0d0;padding:5px 5px;overflow-x:hidden;overflow-y:scroll;color:#888;font-size:12px;line-height: 18px;}

.input-warning{border-color:#f0a307;}
.input-error{border-color:#f8040c;}
.regbox .icon{display:inline-block;vertical-align:text-top;width:16px;height:16px;position:relative;top:-2px;margin-right:10px;}
.icon-warning{background-position:0 0;}
.icon-success{background-position:0 -20px;}
.icon-error   {background-position:0 -40px;}
.tipbox{color:#333;}
.tipbox .icon{display:inline-block;width:26px;height:26px;float:left;display:inline;margin-left:-40px;margin-top:3px;}
.tip-warning .icon-warning{background-position:0 -60px;}

.verifyphone{background: #f56f0b;width: 126px;height: 36px;line-height: 36px; text-align: center; font-weight: bold;color: #fff;}
.verifyphone:hover{color: #fff;}

