
/* ------------------------------------------------------------
  Pro: hao样式
  Create: 2014-12-11
  Update: 2014-12-11
------------------------------------------------------------ */

body{font:12px/1.5 Tahoma,Arial,\5b8b\4f53,sans-serif;}
body{font:14px/1.5 "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,sans-serif;}
.wrap{width:980px;}

.pull-left{}


/* header */
.global-nav {}
h1.logo{}

/* header */
.header{position:relative;height:54px; background:#222e2a;}

/* logo */
a.navbar-brand{ float:left; background:url(../img/logo.png) left center no-repeat; width:120px; height:30px; text-indent:-9999px;/* border-right:1px solid #444;*/ margin:10px 10px 0 0}
.header-search {position: relative;margin: 10px 0 0 20px;}
.header-search .btn{position: absolute;}

.header-search .form-control{padding-left: 35px;border-color: transparent;height: 34px;background: #3F4F49;color: #fff;}
.header-search .form-control{width: 180px;}
.header-search .form-control:focus{width: 480px; background: #52605B}
.header-search .form-control:focus+span{display: none; }
.header .nav{margin:12px 0 0 10px;}
.header .nav a{padding: 0 9px;height:30px;line-height: 30px;}
/*.header-search:focus+#navbar{display: none;}*/

.header li>a {display: inline-block;color: #A4BFB4;border-radius: 2px;}

/* nav */
/*
.menu,.quick-menu{ padding:0;text-shadow:1px 1px 1px #33363B;position:relative;z-index:2;}
.menu{float:left;margin:10px 20px 0 0;font-size:14px;}
.quick-menu{float:right;margin-top:10px;}

.nav li{ list-style-type:none; padding:0;float:left;position:relative;margin:0 1px 0 0}
.nav li a{color:#ddd;padding:5px 12px 6px;height:20px;line-height:20px;display:block;cursor: pointer;}
.nav li a:hover {text-decoration: none;}

.nav a:hover,.nav .active a{color:#fff;background-color:#82CC00;}

.nav-pills a,.active a{border-radius:3px}
.nav li:hover a{background-color:#132e00;color:#fff;}
.nav .active:hover a{background-color:#82CC00;}
.dropdown:hover .dropdown-menu {display:block}

.sub-menu{position:absolute;top:28px;left:0;border-radius:0 0 4px 4px;min-width:106px;z-index:10;display:none;padding:4px 0;background-color:#132e00;line-height: 18px;font-size: 12px;}
.sub-menu li{float:none;margin-right: 0}
.sub-menu li a{padding:5px 12px;color:#bbb;display: block;}
.sub-menu li a:hover{background-color:#0f2500;color:#82CC00}

.dropdown i{display:inline-block;margin:0 0 0 3px;position:relative;top:-2px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #999}

.quick-menu a{padding:5px 10px;}
*/
/* search-form */
.search-form{float:left;margin-top:10px;}
.search-form input{float: left;}
.search-input{border-radius:2px 0 0 2px;border:none;display:block;font-size:13px;height:20px;line-height:20px;padding:4px 8px;background-color:#eee;width:100px;color:#B3B3B3}
.search-input:focus{color:#444;background-color: #fff;}
.search-submit{background-color: #8CAC52;border-radius: 0 2px 2px 0;height: 28px;color:#fff;padding:0 10px;border: none;cursor: pointer;}
.search-submit:hover{background-color: #7BAB2E;}


/* footer */