
/* ------------------------------------------------------------
  Pro: hao样式
  Create: 2014-12-11
  Update: 2014-12-11
------------------------------------------------------------ */

body{font:12px/1.5 Tahoma,Arial,\5b8b\4f53,sans-serif;}
body{font:14px/1.5 "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,sans-serif;}
.wrap{width:980px;}

.pull-left{}
.mt0{margin-top:0;}
.mb20{margin-bottom: 20px;}

/* header */
.global-nav {}
h1.logo{}

/* header */
.header{position:relative;height:54px; background:#222e2a;}

/* logo */
a.brand{ float:left; background:url(../img/logo.png) left center no-repeat; width:120px; height:30px; text-indent:-9999px;/* border-right:1px solid #444;*/ margin:10px 0 0}
.header-search {position: relative;z-index:10;width: 210px;margin: 10px 0 0 20px;padding:0;}
/*.header .icon-bar{background-color: #fff;}*/
.header-search .btn{position: absolute;}

.header-search .form-control{padding-left: 35px;border-color: transparent;height: 34px;background: #3F4F49;color: #fff;}
.header-search .form-control:focus{width: 520px; background: #52605B;}
/*.header-search .form-control:focus+#navbar{display: none; }*/
.header .menu,.header .opts{margin:12px 0 0 10px;}
.header .nav{position: relative;;z-index: 9;}
.header .nav li {padding: 0;margin: 0;vertical-align: middle;color: #A4BFB4;}
.header .nav a{padding: 0 9px;height:30px;line-height: 30px;font-size: 16px;font-weight: bold;text-decoration: none;}
.header .menu a:hover{background-color: #3F4F49;}

.header .opts-item>a.em {background-color: #009A61;color: #FFF;margin-left: 10px;}
/*.header-search:focus+#navbar{display: none;}*/

.header li>a {display: inline-block;color: #A4BFB4;border-radius: 2px;}

[class*="avatar-"] {border-radius: 2px;}


/* search-form */
.search-form{float:left;margin-top:10px;}
.search-form input{float: left;}
.search-input{border-radius:2px 0 0 2px;border:none;display:block;font-size:13px;height:20px;line-height:20px;padding:4px 8px;background-color:#eee;width:100px;color:#B3B3B3}
.search-input:focus{color:#444;background-color: #fff;}
.search-submit{background-color: #8CAC52;border-radius: 0 2px 2px 0;height: 28px;color:#fff;padding:0 10px;border: none;cursor: pointer;}
.search-submit:hover{background-color: #7BAB2E;}


/* footer */