
/* ------------------------------------------------------------
  Pro: propage样式
  Create: 2013-12-01
  Update: 2013-12-10
------------------------------------------------------------ */

body{font:12px/1.5 Tahoma,Arial,\5b8b\4f53,sans-serif;}
.wrap{width:980px;}



